a
{
  color: red;
}
p,li,h2
{
  font-family: sans-serif;
}
h2
{
  font-size: 20px;
}
p
{
  font-size: 15px;
}
li
{
  font-size: 14px;
}
body
{
  padding-left: 70px;
  padding-right: 20%;
}
pre
{
  background: rgb(210,210,210);
}
table, tr, td {
  border-width: 1px;
  border-spacing: 0px;
  border-color: black;
  border-style: solid;
}
td {
  padding: 10px;
}
